 * {
    font-family: "PT Sans", sans-serif;
    margin: 0;
    padding: 0;
 }

 body {
    background: black;
 }

 text {
    font-family: 'Share Tech Mono', monospace;
 }

.tooltip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: rgba(250, 250, 250, 0.7);
    border: 1px solid #6F257F;
    padding: 5px;
    pointer-events: none;
}

.tooltip p, 
.tooltip small,
.tooltip span, 
.tooltip strong {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
}
 
.sky-map, .part {
	width: 960px;
	height: 600px;
	overflow: hidden;
	margin: auto;
}

.sky-map .graticule {
      fill: none;
      stroke: #fff;
      stroke-opacity: 0.2;
}

.sky-map .stars circle {
    fill-opacity: 0.7;
    stroke: black;
    stroke-width: 0.5px;
}

.part {
  border: solid white 1px;
}

.part .chart {
  display: inline-block;
  width: 70%;
  height: 100%;
}

.part .note {
  display: inline-block;
  width: 29%;
  margin: auto;
}

.part .note p {
  padding: 5px 10px;
  color: #777;
}

.part .note span {
  color: #dadada;
}

.stars-total {
  cursor: pointer;
}

.stars-total rect {
  fill: tomato;
  fill-opacity: 0.7;
}

.stars-total text {
  font-weight: bold;
  text-anchor: middle;
  pointer-events: none;
}

.stars-total circle {
  fill-opacity: 0.5;
  stroke: none;
  pointer-events: all;
}

.stars-total text.group-label  {
  font-size: 15px;
  text-anchor: start;
  fill: white;
}

.stars-total .group-arc  {
  fill-opacity: 0.5;
  fill: black;
  stroke: none;
}

.stars-distance circle {
  fill: blue;
  stroke: black;
}

.stars-distance line {
  stroke: #999;
}

.stars-distance text {
  font-size: 20px;
  fill: tomato;
  stroke: black;
  fill-opacity: 0.7;
  text-anchor: middle;
  cursor: pointer;
}

.stars-distance text:hover {
    font-size: 30px;
    fill: tomato;
    stroke: black;
    fill-opacity: 1;
}

.stars-distance .axis circle {
    fill: none;
    stroke: #777;
    stroke-opacity: 0.5;
}


.stars-distance .axis text {
  font-size: 10px;
  fill: white;
  stroke: none;
  fill-opacity: 1;
  text-anchor: middle;
  pointer-events: none;
}

.stars-distance .axis rect {
  fill: black;
  fill-opacity: 0.7;
  stroke: none;
}

.star-colors path {
  fill: none;
  stroke: black;
  stroke-width: 3px;
  stroke-linecap: round;
}