* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Oswald', sans-serif;
	background: black;
	color: #dadada;
}

text {
	font-size: 0.7em;
	text-anchor: middle;
	fill: #dadada;
}

h1 {
	font-family: 'Romanesco', cursive;
	padding-bottom: 20px;
}

header {
	padding: 20px;
	text-align: center;
}

.info p {
	color: #aaa;
	font-size: 0.8em;
	padding-top: 1em;
}

.container, .info {
	margin: auto;
	min-width: 900px;
	max-width: 1200px;
}

.info {
	margin: auto;
	height: 150px;
	width: 900px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.info .note {
	flex: 1;
	justify-content: center;
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.info .legend {
	flex: 3;
} 

line.axis {
	stroke: #4d4d4d;
	stroke-width: 1px;
	stroke-dasharray: 2 2;
}

.legend text {
	text-anchor: start;
}

.legend .timeline {
	stroke: #aaa;
	fill: #aaa;
	stroke-width: 1px;
}

/* years scale */
.legend .year circle {
	fill: none;
	stroke: #f9488a;
	stroke-width: 1px;
}

.legend .year .mark {
	stroke: none;
	fill: #aaa;
}

.legend .year line {
	stroke: #aaa;
	stroke-width: 1px;
}

/* life periods explanation */
.legend .period circle {
	fill: black;
	stroke: #a03db3;
	stroke-width: 1px;
}

.legend .period circle.filled {
	fill: #a03db3;
}

.legend .period .mark {
	stroke: none;
	fill: #aaa;
}

.legend .period line {
	stroke: #aaa;
	stroke-width: 1px;
}