* {
	padding: 0;
	margin: 0;
	border: none;
}

body {
	font-family: 'Oswald', sans-serif;
	background: black;
	color: #dadada;
}

text {
	font-size: 0.7em;
	text-anchor: middle;
	fill: #dadada;
	pointer-events: none;
}

h1 {
	font-family: 'Romanesco', cursive;
	padding-bottom: 20px;
}

header {
	padding: 20px;
	text-align: center;
}

.container, .info {
	margin: auto;
	min-width: 900px;
	max-width: 1200px;
}

.info {
	height: 150px;
	width: 900px;
	margin: auto;

	display: flex;
	flex-direction: row;
	align-items: stretch;

	border: double #4d4d4d;
	border-right-style: none;
	border-left-style: none; 
}

.info p {
	color: #aaa;
	font-size: 0.8em;
	padding: 1em 15px 0;
}

.info .note {
	flex: 1;
	justify-content: center;
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.info .legend {
	flex: 2;
} 

line.axis {
	stroke: #4d4d4d;
	stroke-width: 1px;
	stroke-dasharray: 2 2;
}

.legend text {
	text-anchor: start;
}

.legend .timeline {
	stroke: #aaa;
	fill: #aaa;
	stroke-width: 1px;
}

/* years scale */
.legend .year circle {
	fill: none;
	stroke: #f9488a;
	stroke-width: 1px;
}

.legend .year .mark {
	stroke: none;
	fill: #aaa;
}

.legend .year line {
	stroke: #aaa;
	stroke-width: 1px;
}

/* life periods explanation */
.legend .period circle {
	fill: black;
	stroke: #a03db3;
	stroke-width: 1px;
}

.legend .period circle.filled {
	fill: #a03db3;
}

.legend .period .mark {
	stroke: none;
	fill: #aaa;
}

.legend .period line {
	stroke: #aaa;
	stroke-width: 1px;
}

.emperor circle, .emperor path {
	pointer-events: none;
}

.emperor .handler {
	pointer-events: all;
}

/* tooltip */
.tooltip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: rgba(250, 250, 250, 0.7);
    border: 1px solid #6F257F;
    padding: 5px;
    pointer-events: none;
    color: black;
}

.tooltip p, 
.tooltip small,
.tooltip span, 
.tooltip strong {
    text-align: center;
    font-size: 0.8em;
}

.tooltip span {
	color: #4d4d4d;
}

.tooltip .title {
	font-family: 'Romanesco', cursive;
	font-size: 1.5em;
}