body {
	font-family: 'Roboto', sans-serif;
	color: #333;
}

* {
	padding: 0;
	margin: 0;
}

h1, h2 {
	text-align: center;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
	color: #777;
}

.header {
	padding: 20px;
}

.footer {
	padding: 20px 50px;
	font-size: 0.8em;
	text-align: right;
	color: #777;
}

.footer a {
	color: #333;
}

.content {
	margin: auto;
	width: 960px;
}

.legend {
	margin: 10px 20px 50px 20px;
	padding: 10px;
	border: 1px #dadada;
	border-style: solid none;
}

